<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
	  <h1>About</h1>
	  <p>안녕하세요 정사라입니다.</p>
    </div>
  </body>
</html>
